<tt-page-layout>
  <ng-container main>
    <section class="tt-intro_am">
      <h1 class="tt-intro_am-header">{{'COMMON.HI_FIRST_NAME' | translate}}</h1>
      <p class="tt-intro_am-description">{{'COMMON.ABOUT_ME_DESCRIPTION' | translate}}</p>
      <img class="tt-intro_am-img" [src]="'avatar-am' | TTAssetsLink:'svg'" [alt]="'all-device.svg'">
    </section>

    <section class="tt-content_am">
      <section class="tt-my_skill"
        [style]="'--marginQuote:' + marginQuote + '; --marginBottomSkill:' + marginBottomSkill + '; --marginTopSkill: -' + marginQuote + ';'">
        <section class="tt-quote">
          <p class="quote">{{'COMMON.LEARN_FOREVER' | translate}}</p>
          <p class="author">{{'COMMON.LEARN_FOREVER_AUTHOR' | translate}}</p>
        </section>
        <section class="tt-my_skill-container">
          <section class="tt-my_skill-content">
            <ng-container *ngFor="let item of skillData; let last = last">
              <section class="tt-my_skill-item" [ngClass]="{'tt-unset_border tt-unset_background': last}">
                <section class="tt-my_skill-header_item">
                  <img [src]="item.iconName | TTAssetsLink:item.iconType" [alt]="item.iconName + '.' + item.iconType">
                  <h5>{{item.title | translate}}</h5>
                  <p>{{item.description | translate}}</p>
                </section>
                <ng-container *ngFor="let child of item.childs">
                  <div class="tt-my_skill-content_item">
                    <h6 class="tt-my_skill-header_content">{{child.title | translate}}</h6>

                    <ng-container *ngIf="child.showType === 'join'">
                      <p>{{child.skills.join(', ')}}</p>
                    </ng-container>
                    <ng-container *ngIf="child.showType === 'full'">
                      <ng-container *ngFor="let skill of child.skills">
                        <p>{{skill}}</p>
                      </ng-container>
                    </ng-container>
                  </div>
                </ng-container>
              </section>
            </ng-container>
          </section>
        </section>
      </section>

      <div class="tt-space_am"></div>
      <section class="tt-am_item tt-experiences">
        <h3>{{'COMMON.EXPERIENCES' | translate}}</h3>
        <section class="tt-experiences-table">
          <div class="tt-experiences-table_header">
            <ng-container *ngFor="let head of experienceTableHeader">
              <div [class]="'tt-experiences-header_item' + ' _' + head.field">
                {{head.title | translate}}
              </div>
            </ng-container>
          </div>

          <ng-container *ngFor="let data of experienceData; let index = index">
            <div class="tt-experiences-wrap_table_data">
              <div class="tt-experiences-table_data" (click)="onToggleExpand(index, 'experience')">
                <ng-container *ngFor="let head of experienceTableHeader">
                  <div [class]="'tt-experiences-data_item' + ' _' + head.field" [ngClass]="{'icon': head.field === ''}">
                    <ng-container *ngIf="head.field === ''">
                      <img [src]="'expand' | TTAssetsLink:'svg'" alt="expand.svg">
                    </ng-container>
                    <ng-container *ngIf="head.field === 'time'">
                      <p class="main">{{[data.fromWorkingTime, data.toWorkingTime] | TTFromToDate}}</p>
                      <p class="extra">{{(data.wokingTime.year ? data.wokingTime.year + ' ' + ('COMMON.YEAR' | translate)
                        : '') + ' ' +
                        (data.wokingTime.month ? data.wokingTime.month + ' ' + ('COMMON.MONTH' | translate) : '')}}</p>
                    </ng-container>
                    <ng-container *ngIf="head.field === 'jobTitle'">
                      <p class="main">{{('JOB_DETAIL.' + data.jobTitle) | translate}}</p>
                      <p class="extra">{{('JOB_DETAIL.' + data.jobType) | translate}}</p>
                      <p class="extra extra-company_responsive">{{data.companyName}}</p>
                      <p class="extra extra-time_responsive">{{[data.fromWorkingTime, data.toWorkingTime] | TTFromToDate}}</p>
                    </ng-container>
                    <ng-container *ngIf="head.field === 'companyName'">
                      {{data.companyName}}
                    </ng-container>
                  </div>
                </ng-container>
              </div>
              <nz-collapse [nzBordered]="false">
                <nz-collapse-panel [(nzActive)]="data.expand" [nzHeader]="undefined" [nzShowArrow]="false">
                  <section class="tt-experiences-data_detail">
                    <h6 class="tt-experiences-data_detail-title">
                      <img [src]="'scope-of-work' | TTAssetsLink:'svg'" alt="scope-of-work.svg">
                      <p>{{'COMMON.SCOPE_OF_WORK' | translate}}</p>
                    </h6>
                    <ul class="tt-projects-data_detail-content">
                      <ng-container  *ngFor="let detail of data.detail">
                          <li>{{detail[currentLang]}}</li>
                      </ng-container>
                    </ul>
                  </section>
                </nz-collapse-panel>
              </nz-collapse>
            </div>
          </ng-container>
        </section>
      </section>

      <div class="tt-space_am"></div>
      <section class="tt-am_item tt-projects">
        <h3>{{'COMMON.PROJECTS' | translate}}</h3>
        <section class="tt-experiences-table">
          <div class="tt-experiences-table_header">
            <ng-container *ngFor="let head of projectTableHeader">
              <div [class]="'tt-experiences-header_item' + ' _' + head.field">
                {{head.title | translate}}
              </div>
            </ng-container>
          </div>

          <ng-container *ngFor="let data of projectData; let index = index">
            <div class="tt-experiences-wrap_table_data">
              <div class="tt-experiences-table_data" (click)="onToggleExpand(index, 'project')">
                <ng-container *ngFor="let head of projectTableHeader">
                  <div [class]="'tt-experiences-data_item' + ' _' + head.field" [ngClass]="{'icon': head.field === ''}">
                    <ng-container *ngIf="head.field === ''">
                      <img [src]="'expand' | TTAssetsLink:'svg'" alt="expand.svg">
                    </ng-container>
                    <ng-container *ngIf="head.field === 'projectTitle'">
                      <p class="main">{{data.projectName + ' | ' + ([data.fromWorkingTime, data.toWorkingTime] | TTFromToDate)}}</p>
                      <p class="main main-responsive">{{data.projectName + ' | ' + ([data.fromWorkingTime, data.toWorkingTime] | TTFromToDate:undefined:undefined:true)}}</p>
                      <p class="extra extra-position_responsive">{{('JOB_DETAIL.' + data.position) | translate}}</p>
                      <p class="extra">{{data.basicDescription[currentLang]}}</p>
                    </ng-container>
                    <ng-container *ngIf="head.field === 'position'">
                      {{('JOB_DETAIL.' + data.position) | translate}}
                    </ng-container>
                  </div>
                </ng-container>
              </div>
              <nz-collapse [nzBordered]="false">
                <nz-collapse-panel [(nzActive)]="data.expand" [nzHeader]="undefined" [nzShowArrow]="false">
                  <section class="tt-projects-data_detail">
                    <ng-container  *ngFor="let detail of data.detail">
                      <article class="tt-projects-data_detail-item">
                        <div class="tt-projects-data_detail-item_title">
                          <img [src]="detail.icon | TTAssetsLink:'svg'" [alt]="detail.icon + '.svg'">
                          <p>{{detail.title | translate}}</p>
                        </div>
                        <p class="tt-projects-data_detail-item_content">{{detail[currentLang]}}</p>
                      </article>
                    </ng-container>
                  </section>
                </nz-collapse-panel>
              </nz-collapse>
            </div>
          </ng-container>
        </section>
      </section>
    </section>
  </ng-container>

  <ng-container overlay-container>
    <tt-menu [visible]="visibleMenu"></tt-menu>
  </ng-container>
</tt-page-layout>
