<tt-page-layout>
  <ng-container main>
    <section class="tt-home">
      <section class="tt-home-description">
        <h3>{{'COMMON.HI_FULL_NAME' | translate}}</h3>
        <h1>{{'COMMON.IM_POSITION' | translate}}</h1>
        <p>{{'COMMON.BASIC_DESCRIPTION' | translate}}</p>
        <tt-link-button-layout [type]="'download'" [download]="'cv'">
          <ng-container downloadContent>
            <div class="tt-download_cv">
              <p>{{'BUTTON.DOWNLOAD_MY_CV' | translate}}</p>
            </div>
          </ng-container>
        </tt-link-button-layout>
      </section>

      <ng-container *ngFor="let icon of floatIcons">
        <img class="tt-home-float_icon" [src]="icon.name | TTAssetsLink:icon.type" [alt]="icon.name"
          [style]="'--top:' + (icon.top || '') + '; --right:' + (icon.right || '') + '; --left:' + (icon.left || '') + '; --bottom:' + (icon.bottom || '') + '; --translateX:' + icon.translateX + '; --translateY:' + icon.translateY">
      </ng-container>
    </section>

    <section class="tt-summary_exp">
      <ng-container *ngFor="let expItem of summaryExpItems">
        <section class="tt-summary_exp-item">
          <h3 class="tt-summary_exp-title_item">
            <img [src]="expItem.iconName | TTAssetsLink:expItem.iconType" [alt]="expItem.iconName">
            <span>{{expItem.count}}</span>
          </h3>
          <h2>{{expItem.label | translate}}</h2>
        </section>
      </ng-container>
    </section>

    <section class="tt-summary_about_me">
      <section class="tt-summary_about_me-background"></section>

      <section class="tt-summary_about_me-left">
        <ng-container *ngFor="let abItem of leftAboutMeItems">
          <img [src]="abItem.name | TTAssetsLink:abItem.type" [alt]="abItem.name">
        </ng-container>
      </section>

      <section class="tt-summary_about_me-content">
        <p>{{'COMMON.INTRO_GO_TO_ABOUT_ME' | translate}}</p>
        <tt-link-button-layout [target]="'_self'" [href]="ROUTE.PORTFOLIO + '/' + ROUTE.PORTFOLIO_ABOUT_ME">
          <ng-container hrefContent>
            <button class="tt-more_about_me">
              <p>{{'BUTTON.MORE_ABOUT_ME' | translate}}</p>
            </button>
          </ng-container>
        </tt-link-button-layout>
      </section>

      <section class="tt-summary_about_me-right">
        <ng-container *ngFor="let abItem of rightAboutMeItems">
          <img [src]="abItem.name | TTAssetsLink:abItem.type" [alt]="abItem.name">
        </ng-container>
      </section>
    </section>
  </ng-container>

  <ng-container *ngIf="visibleMenu" overlay-container>
    <tt-menu></tt-menu>
  </ng-container>
</tt-page-layout>
