<div id="ABOUT_ME" class="tung-am-wrap">
  <div class="tung-am-content">
    <section class="tung-am-description">
      <h1 class="tung-am-description-name">{{"ABOUT_ME.NAME" | translate}}</h1>
      <h3 class="tung-am-description-position">{{"ABOUT_ME.POSITION" | translate}}</h3>
      <p class="tung-am-description-sumary">{{"ABOUT_ME.SUMARY_1" | translate}}</p>
      <p class="tung-am-description-sumary">{{"ABOUT_ME.SUMARY_2" | translate}}</p>
    </section>
    <section class="tung-am-info">
      <section class="tung-am-avatar">
        <div class="tung-am-avatar-border">
          <img ngSrc="../../../assets/imgs/png/avatar.png" [width]="300" [height]="300" alt="avatar" priority>
        </div>
      </section>
      <section class="tung-am-contact">
        <ng-container *ngFor="let contact of contacts">
          <div class="tung-am-contact-item">
            <svg-icon [src]="'../../../assets/svg/' + contact.svgId + '.svg'"></svg-icon>
            <!-- <svg [outerHTML]="contact.svgId | SvgIcon:{style: contact.customClass}"></svg> -->
            <p>{{contact.content}}</p>
          </div>
        </ng-container>
      </section>
    </section>
  </div>

  <div class="tung-am-left"></div>
  <div class="tung-am-right"></div>
</div>
