$mainCls: "tt";
$scrollBarColor: #c4c4c4;
$scrollBarHoverColor: #a5a5a5;
$heightHeader: "50px";

$mainTextColor: "#000";
$mainFontSize: 12px;
$mainFontweight: 400;

$mainBorderColor: #a5a5a5;
$borderColorLightBrown: #EAD5BA;

$backgroundColorWhite: "#fff";
$backgroundColorLightBrown: "#EAD5BA";

$iconColorWhite: "#fff";
$iconColorLightBrown: "#EAD5BA";

$xxxLaggerFontSize: 64px;
$xxLaggerFontSize: 48px;
$xLaggerFontSize: 32px;
$laggerFontSize: 24px;
$mediumFontSize: 16px;
$smallFontSize: 8px;
