$mainCls: "tung";
$scrollBarColor: #c4c4c4;
$scrollBarHoverColor: #a5a5a5;
$heightHeader: "50px";

$mainTextColor: "#000";

$mainBorderColor: #a5a5a5;
$borderColorLightBrown: #EAD5BA;

$backgroundColorWhite: "#fff";
$backgroundColorLightBrown: "#EAD5BA";

$iconColorWhite: "#fff";
$iconColorLightBrown: "#EAD5BA";

$lHeadFontSize: "64px";
$mHeadFontSize: "48px";
$sHeadFontSize: "32px";
$lMainFontSize: "20px";
$mMainFontSize: "16px";
$sMainFontSize: "12px";

$repoLHeadFontSize: "36px";
$repoSHeadFontSize: "20px";
$repoLMainFontSize: "12px";
$repoMMainFontSize: "12px";
$repoSMainFontSize: "1px";
