&-am {
  &-wrap {
    position: relative;
    min-height: calc(100vh - 150px);
    max-height: fit-content;
    display: flex;
    align-items: center;
  }

  &-content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 2;
    position: relative;
  }

  &-left {
    position: absolute;
    height: 100%;
    width: 60%;
    top: 0;
    left: 0;
    background-color: #{$borderColorLightBrown};
    z-index: 1;
  }

  &-right {
    position: absolute;
    height: 100%;
    width: 40%;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &-description {
    width: calc(60% - 175px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;

    * {
      margin: unset;
    }

    &-name {
      font-size: #{$xxxLaggerFontSize};
      font-weight: 700;
    }

    &-position {
      font-size: #{$mediumFontSize};
    }

    &-sumary {
      font-size: #{$smallFontSize};
    }
  }

  &-info {
    width: calc(40% + 175px);
    display: flex;
  }

  &-avatar {
    width: 350px;

    &-border {
      height: 350px;
      width: 350px;
      border-radius: 50%;
      border: 10px solid #FFF;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      border-radius: 50%;
      height: 300px;
      width: 300px;
    }
  }

  &-contact {
    width: calc(100% - 350px);
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-item {
      height: 50px;
      width: fit-content;
      border-radius: 25px;
      border: 3px solid #{$borderColorLightBrown};
      font-size: #{$laggerFontSize};
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
      gap: 10px;
      overflow: hidden;

      p {
        margin: unset;
        min-width: 185px;
      }
    }
  }

  @media only screen and (max-width: 1500px) {

    &-description {

      &-name {
        font-size: #{$mediumFontSize};
      }

      &-position {
        font-size: #{$laggerFontSize};
      }

      &-sumary {
        font-size: #{$mediumFontSize};
      }
    }

    &-contact {

      &-item {
        font-size: #{$mediumFontSize};
        padding: 0 15px;
      }
    }
  }

  @media only screen and (max-width: 1300px) {

    &-description {
      gap: 10px;

      &-name {
        font-size: 40px;
      }
    }

    &-contact {
      gap: 10px;

      &-item {
        font-size: #{$smallFontSize};
      }
    }
  }

  @media only screen and (max-width: 1150px) {

    &-wrap {
      min-height: calc(100vh - 100px);
    }

    &-left {
      width: 50%;
    }

    &-right {
      width: 50%;
    }

    &-content {
      flex-direction: column-reverse;
    }

    &-description {
      width: 80%;
    }

    &-info {
      width: 80%;
    }

    &-avatar {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-border {
        border-color: #FFF;
      }
    }

    &-contact {
      width: 50%;
      align-items: center;
      justify-content: center;
    }
  }

  @media only screen and (max-width: 950px) {

    &-description {
      width: 90%;
    }

    &-info {
      width: 90%;
    }
  }

  @media only screen and (max-width: 800px) {

    &-description {
      width: 100%;
    }

    &-info {
      width: 100%;
    }
  }

  @media only screen and (max-width: 700px) {

    &-avatar {

      &-border {
        width: 300px;
        height: 300px;

        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {

    &-avatar {

      &-border {
        height: 250px;
        width: 250px;

        img {
          height: 200px;
          width: 200px;
        }
      }
    }

    &-contact {
      align-items: start;
      gap: 5px;

      &-item {
        border: unset;
        gap: 5px
      }
    }
  }

  @media only screen and (max-width: 500px) {

    &-description {

      &-name {
        font-size: #{$smallFontSize};
      }
    }

    &-avatar {

      &-border {
        width: 200px;
        height: 200px;
        border-width: 5px;

        img {
          width: 175px;
          height: 175px;
        }
      }
    }

    &-contact {
      gap: 0px;

      &-item {
        padding: 0px 5px;
        height: 40px;

        svg {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
